[Unit]
Description=start espC6 wifi
Before=network.target

[Service]
Type=oneshot
ExecStart=bash -c '/usr/local/m5stack/bin/S03espc6wifi start ; /usr/local/m5stack/bin/S39eth_mac start'

[Install]
WantedBy=multi-user.target
